

<div class="card">
  <h3>${event.title}</h3>
    <section>
      <div class="content">
        <p>Time: ${new Date(event.start_time_iso_string)} </p>
        ${!location.includes('null') ? `<p>Location: ${location}</p>` : ''}
        <p>Price: $${parseInt(event.price).toFixed(2)}</p>
        <a class="link-button" href="${event.web_url}">
          <button>Book Now!</button>
        </a>
      </div>
      <img src="${event.photos[0].small_url}" alt="${event.photos[0].caption}"} />
    </section>
</div>