<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<header>
  <h1 class="fake-logo">
    Events Page
  </h1>
</header>

<body>
    <h2 class="page-headline">Our Best Events</h2>

    <div class="card-container">
      <%= render partial: "event", collection: @activities %>
      <%= render partial: "event", collection: @series %>
    </div>
</body>
